<ul class="usa-nav__primary usa-accordion">
  <li class="usa-nav__primary-item">
    <a
      href="/"
      class="link usa-nav__link is-active"
      data-drupal-link-system-path="&lt;front&gt;"
      aria-current="page"
    >
      <span>Home</span>
    </a>
  </li>

  <li class="usa-nav__primary-item">
    <button
      type="button"
      class="usa-accordion__button usa-nav__link"
      aria-expanded="false"
      aria-controls="extended-mega-nav-section-2"
    >
      <span>Topics</span>
    </button>

    <div
      id="extended-mega-nav-section-2"
      class="usa-nav__submenu usa-megamenu"
      hidden=""
    >
      <div class="grid-row grid-gap-4">
        <div class="desktop:grid-col-3">
          <div class="usa-nav__submenu-item">
            <span class="nolink"> <span>Animal Health and Welfare</span> </span>
          </div>
        </div>

        <div class="desktop:grid-col-3">
          <div class="usa-nav__submenu-item">
            <span class="nolink">
              <span>Economics, Business, and Trade</span>
            </span>
          </div>
        </div>

        <div class="desktop:grid-col-3">
          <div class="usa-nav__submenu-item">
            <span class="nolink">
              <span>Farms and Agricultural Production Systems</span>
            </span>
          </div>
        </div>

        <div class="desktop:grid-col-3">
          <div class="usa-nav__submenu-item">
            <span class="nolink">
              <span>Human Nutrition and Food Safety</span>
            </span>
          </div>
        </div>

        <div class="desktop:grid-col-3">
          <div class="usa-nav__submenu-item">
            <span class="nolink"> <span>All Topics</span> </span>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="usa-nav__primary-item">
    <button
      type="button"
      class="usa-accordion__button usa-nav__link"
      aria-expanded="false"
      aria-controls="extended-mega-nav-section-3"
    >
      <span>Research Tools</span>
    </button>

    <div
      id="extended-mega-nav-section-3"
      class="usa-nav__submenu usa-megamenu"
      hidden=""
    >
      <div class="grid-row grid-gap-4">
        <div class="desktop:grid-col-3">
          <div class="usa-nav__submenu-item">
            <span class="nolink"> <span>All Research Tools</span> </span>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="usa-nav__primary-item">
    <button
      type="button"
      class="usa-accordion__button usa-nav__link"
      aria-expanded="false"
      aria-controls="extended-mega-nav-section-4"
    >
      <span>Collections</span>
    </button>

    <div
      id="extended-mega-nav-section-4"
      class="usa-nav__submenu usa-megamenu"
      hidden=""
    >
      <div class="grid-row grid-gap-4">
        <div class="desktop:grid-col-3">
          <div class="usa-nav__submenu-item">
            <span class="nolink"> <span>All Collections</span> </span>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="usa-nav__primary-item">
    <a
      href="/"
      class="link usa-nav__link is-active"
      data-drupal-link-system-path="&lt;front&gt;"
      aria-current="page"
    >
      <span>Data</span>
    </a>
  </li>

  <li class="usa-nav__primary-item">
    <button
      type="button"
      class="usa-accordion__button usa-nav__link"
      aria-expanded="false"
      aria-controls="extended-mega-nav-section-6"
    >
      <span>Services</span>
    </button>

    <div
      id="extended-mega-nav-section-6"
      class="usa-nav__submenu usa-megamenu"
      hidden=""
    >
      <div class="grid-row grid-gap-4">
        <div class="desktop:grid-col-3">
          <div class="usa-nav__submenu-item">
            <span class="nolink"> <span>All Services</span> </span>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="usa-nav__primary-item">
    <button
      type="button"
      class="usa-accordion__button usa-nav__link"
      aria-expanded="false"
      aria-controls="extended-mega-nav-section-7"
    >
      <span>About Us</span>
    </button>

    <div
      id="extended-mega-nav-section-7"
      class="usa-nav__submenu usa-megamenu"
      hidden=""
    >
      <div class="grid-row grid-gap-4">
        <div class="desktop:grid-col-3">
          <div class="usa-nav__submenu-item">
            <span class="nolink"> <span>About the Library</span> </span>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
